/**
 * Base files.
 */
/**
 * Colors.
 */
/**
 * Hamburger icon.
 */
/**
 * Flexbox.
 */
/**
* Fonts.
*/
/**
 * Columns.
 */
/**
 * Mixins.
 */
/**
* To Rem Function.
*/
/*Screen sizes. */
/**
 * Flexbox.
 */
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/**
* Grid.
*/
/**
* Grid Columns.
*/
.grid-col-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.grid-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.grid-col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.grid-col-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr); }

.grid-col-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.grid-col-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr); }

.grid-col-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }

.grid-col-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr); }

.grid-col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

/**
 * Grid Gap.
 */
.gap-8 {
  gap: 0.5rem; }

.gap-16 {
  gap: 1rem; }

.gap-24 {
  gap: 1.5rem; }

.gap-32 {
  gap: 2rem; }

.gap-40 {
  gap: 2.5rem; }

.gap-48 {
  gap: 3rem; }

@media (min-width: 576px) {
  .grid-col-sm-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .grid-col-sm-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .grid-col-sm-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  .grid-col-sm-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .grid-col-sm-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }

  .grid-col-sm-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

  .grid-col-sm-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); }

  .grid-col-sm-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); }

  .grid-col-sm-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }

  .grid-col-sm-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); }

  .grid-col-sm-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr); }

  .grid-col-sm-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

  .gap-sm-8 {
    gap: 0.5rem; }

  .gap-sm-16 {
    gap: 1rem; }

  .gap-sm-24 {
    gap: 1.5rem; }

  .gap-sm-32 {
    gap: 2rem; }

  .gap-sm-40 {
    gap: 2.5rem; }

  .gap-sm-48 {
    gap: 3rem; } }
@media (min-width: 768px) {
  .grid-col-md-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .grid-col-md-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .grid-col-md-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  .grid-col-md-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .grid-col-md-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }

  .grid-col-md-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

  .grid-col-md-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); }

  .grid-col-md-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); }

  .grid-col-md-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }

  .grid-col-md-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); }

  .grid-col-md-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr); }

  .grid-col-md-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr); } }
@media (min-width: 992px) {
  .grid-col-lg-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .grid-col-lg-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .grid-col-lg-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  .grid-col-lg-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .grid-col-lg-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }

  .grid-col-lg-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

  .grid-col-lg-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); }

  .grid-col-lg-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); }

  .grid-col-lg-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }

  .grid-col-lg-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); }

  .grid-col-lg-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr); }

  .grid-col-lg-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr); } }
@media (min-width: 1200px) {
  .grid-col-xl-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  .grid-col-xl-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .grid-col-xl-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  .grid-col-xl-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .grid-col-xl-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }

  .grid-col-xl-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); }

  .grid-col-xl-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); }

  .grid-col-xl-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); }

  .grid-col-xl-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }

  .grid-col-xl-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr); }

  .grid-col-xl-11 {
    display: grid;
    grid-template-columns: repeat(11, 1fr); }

  .grid-col-xl-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

  .gap-xl-8 {
    gap: 0.5rem; }

  .gap-xl-16 {
    gap: 1rem; }

  .gap-xl-24 {
    gap: 1.5rem; }

  .gap-xl-32 {
    gap: 2rem; }

  .gap-xl-40 {
    gap: 2.5rem; }

  .gap-xl-48 {
    gap: 3rem; } }
/**
 * Columns.
 */
/**
 * Fonts.
 */
.ff-serif {
  font-family: "freight-big-pro", serif;
  font-style: italic; }

/**
 * Fonts Size.
 */
.fs-4xl {
  font-size: 3rem; }

.fs-3xl {
  font-size: 2.5rem; }

.fs-2xl {
  font-size: 2rem; }

.fs-xl {
  font-size: 1.75rem; }

.fs-lg {
  font-size: 1.25rem; }

.fs-md {
  font-size: 1.125rem; }

.fs-sm {
  font-size: 0.875rem; }

.fs-serif-xl {
  font-size: 4.375rem; }

.fs-serif-md {
  font-size: 2.8125rem; }

.fs-serif-sm {
  font-size: 1.75rem; }

@media (min-width: 768px) {
  .fs-4xl {
    font-size: 5rem; }
  .fs-3xl {
    font-size: 3.5rem; }
  .fs-2xl {
    font-size: 2.5rem; }
  .fs-xl {
    font-size: 2rem; }
  .fs-lg {
    font-size: 1.5rem; }
  .fs-md {
    font-size: 1.25rem; }
  .fs-sm {
    font-size: 1rem; }
  .fs-serif-xl {
    font-size: 7.5rem; }
  .fs-serif-md {
    font-size: 4.375rem; }
  .fs-serif-sm {
    font-size: 2.5rem; } }
@media (min-width: 1200px) {
  .fs-4xl {
    font-size: 6rem; }
  .fs-3xl {
    font-size: 4rem; }
  .fs-serif-xl {
    font-size: 10rem; }
  .fs-serif-md {
    font-size: 5rem; }
  .fs-serif-sm {
    font-size: 2.5rem; } }
/**
  * Text alignment.
  */
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/**
 * Fonts Weight.
 */
.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-semibold {
  font-weight: 600; }

.fw-bold {
  font-weight: 700; }

/**
 * Text Colors.
 */
.text-white {
  color: #ffffff; }
.text-black {
  color: #333745; }
.text-cyan {
  color: #85DBE0; }
.text-light-cyan {
  color: #DAF4F6; }
.text-teal {
  color: #275A5C; }
.text-light-teal {
  color: #43959D; }
.text-lavender {
  color: #C7ACD7; }
.text-purple {
  color: #6A2875; }
.text-peach {
  color: #DFC5AE; }

/**
 * Line Height.
 */
.line-1 {
  line-height: 1; }
.line-2 {
  line-height: 1.5; }
.line-3 {
  line-height: 2; }

/**
 * Base.
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

body {
  color: #333745;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: #333745; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0; }

a {
  text-decoration: none; }

img {
  height: auto;
  max-width: 100%;
  width: 100%; }

ul, ol {
  list-style-type: none;
  padding: 0; }

/**
 * Utils.
 */
.uppercase {
  text-transform: uppercase; }

.underline-black {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-color: #333745;
          text-decoration-color: #333745; }
  .underline-black:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #333745;
    width: 100%;
    height: 1px; }
.underline-cyan {
  text-decoration: underline;
  -webkit-text-decoration-color: #85DBE0;
          text-decoration-color: #85DBE0; }
.underline-light-cyan {
  text-decoration: underline;
  -webkit-text-decoration-color: #DAF4F6;
          text-decoration-color: #DAF4F6; }
.underline-teal {
  text-decoration: underline;
  -webkit-text-decoration-color: #275A5C;
          text-decoration-color: #275A5C; }
.underline-light-teal {
  text-decoration: underline;
  -webkit-text-decoration-color: #43959D;
          text-decoration-color: #43959D; }
.underline-lavender {
  position: relative;
  display: inline-block; }
  .underline-lavender:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background: #C7ACD7;
    width: 100%;
    height: 1px; }
.underline-purple {
  text-decoration: underline;
  -webkit-text-decoration-color: #6A2875;
          text-decoration-color: #6A2875; }
.underline-peach {
  text-decoration: underline;
  -webkit-text-decoration-color: #DFC5AE;
          text-decoration-color: #DFC5AE; }

/**
  * Display.
  */
.d-desktop {
  visibility: hidden;
  display: none; }
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/**
 * Text alignment.
 */
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/**
* Layout.
*/
.container {
  width: 95%;
  margin: auto; }

/**
  * Columns.
  */
.col-1 {
  width: calc((100% / 12) * 1); }

.col-2 {
  width: calc((100% / 12) * 2); }

.col-3 {
  width: calc((100% / 12) * 3); }

.col-4 {
  width: calc((100% / 12) * 4); }

.col-5 {
  width: calc((100% / 12) * 5); }

.col-6 {
  width: calc((100% / 12) * 6); }

.col-7 {
  width: calc((100% / 12) * 7); }

.col-8 {
  width: calc((100% / 12) * 8); }

.col-9 {
  width: calc((100% / 12) * 9); }

.col-10 {
  width: calc((100% / 12) * 10); }

.col-11 {
  width: calc((100% / 12) * 11); }

.col-12 {
  width: calc((100% / 12) * 12); }

@media (min-width: 768px) {
  /**
  * Columns.
  */
  .col-md-1 {
    width: calc((100% / 12) * 1); }

  .col-md-2 {
    width: calc((100% / 12) * 2); }

  .col-md-3 {
    width: calc((100% / 12) * 3); }

  .col-md-4 {
    width: calc((100% / 12) * 4); }

  .col-md-5 {
    width: calc((100% / 12) * 5); }

  .col-md-6 {
    width: calc((100% / 12) * 6); }

  .col-md-7 {
    width: calc((100% / 12) * 7); }

  .col-md-8 {
    width: calc((100% / 12) * 8); }

  .col-md-9 {
    width: calc((100% / 12) * 9); }

  .col-md-10 {
    width: calc((100% / 12) * 10); }

  .col-md-11 {
    width: calc((100% / 12) * 11); }

  .col-md-12 {
    width: calc((100% / 12) * 12); } }
@media (min-width: 992px) {
  /**
  * Columns.
  */
  .col-lg-1 {
    width: calc((100% / 12) * 1); }

  .col-lg-2 {
    width: calc((100% / 12) * 2); }

  .col-lg-3 {
    width: calc((100% / 12) * 3); }

  .col-lg-4 {
    width: calc((100% / 12) * 4); }

  .col-lg-5 {
    width: calc((100% / 12) * 5); }

  .col-lg-6 {
    width: calc((100% / 12) * 6); }

  .col-lg-7 {
    width: calc((100% / 12) * 7); }

  .col-lg-8 {
    width: calc((100% / 12) * 8); }

  .col-lg-9 {
    width: calc((100% / 12) * 9); }

  .col-lg-10 {
    width: calc((100% / 12) * 10); }

  .col-lg-11 {
    width: calc((100% / 12) * 11); }

  .col-lg-12 {
    width: calc((100% / 12) * 12); }

  /**
    * Display Desktop.
    */
  .d-desktop {
    visibility: visible; }
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
@media (min-width: 1400px) {
  /**
  * Layout.
  */
  .container {
    max-width: 1644px; }

  .col-2xl-1 {
    width: calc((100% / 12) * 1); }

  .col-2xl-2 {
    width: calc((100% / 12) * 2); }

  .col-2xl-3 {
    width: calc((100% / 12) * 3); }

  .col-2xl-4 {
    width: calc((100% / 12) * 4); }

  .col-2xl-5 {
    width: calc((100% / 12) * 5); }

  .col-2xl-6 {
    width: calc((100% / 12) * 6); }

  .col-2xl-7 {
    width: calc((100% / 12) * 7); }

  .col-2xl-8 {
    width: calc((100% / 12) * 8); }

  .col-2xl-9 {
    width: calc((100% / 12) * 9); }

  .col-2xl-10 {
    width: calc((100% / 12) * 10); }

  .col-2xl-11 {
    width: calc((100% / 12) * 11); }

  .col-2xl-12 {
    width: calc((100% / 12) * 12); } }
/**
 * Spacing.
 */
.m-auto {
  margin-left: auto;
  margin-right: auto; }

 /**
* Margin Top.
*/
.mt-8 {
  margin-top: 0.5rem; }

 /**
* Padding on x axis.
*/
.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

 /**
* Padding on y axis.
*/
.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

 /**
* Margin Top.
*/
.mt-16 {
  margin-top: 1rem; }

 /**
* Padding on x axis.
*/
.px-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

 /**
* Padding on y axis.
*/
.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

 /**
* Margin Top.
*/
.mt-24 {
  margin-top: 1.5rem; }

 /**
* Padding on x axis.
*/
.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

 /**
* Padding on y axis.
*/
.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

 /**
* Margin Top.
*/
.mt-32 {
  margin-top: 2rem; }

 /**
* Padding on x axis.
*/
.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

 /**
* Padding on y axis.
*/
.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

 /**
* Margin Top.
*/
.mt-40 {
  margin-top: 2.5rem; }

 /**
* Padding on x axis.
*/
.px-40 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

 /**
* Padding on y axis.
*/
.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

 /**
* Margin Top.
*/
.mt-48 {
  margin-top: 3rem; }

 /**
* Padding on x axis.
*/
.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

 /**
* Padding on y axis.
*/
.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

 /**
* Margin Top.
*/
.mt-56 {
  margin-top: 3.5rem; }

 /**
* Padding on x axis.
*/
.px-56 {
  padding-right: 3.5rem;
  padding-left: 3.5rem; }

 /**
* Padding on y axis.
*/
.py-56 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

 /**
* Margin Top.
*/
.mt-64 {
  margin-top: 4rem; }

 /**
* Padding on x axis.
*/
.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

 /**
* Padding on y axis.
*/
.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

 /**
* Margin Top.
*/
.mt-72 {
  margin-top: 4.5rem; }

 /**
* Padding on x axis.
*/
.px-72 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

 /**
* Padding on y axis.
*/
.py-72 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

 /**
* Margin Top.
*/
.mt-80 {
  margin-top: 5rem; }

 /**
* Padding on x axis.
*/
.px-80 {
  padding-right: 5rem;
  padding-left: 5rem; }

 /**
* Padding on y axis.
*/
.py-80 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

 /**
* Margin Top.
*/
.mt-88 {
  margin-top: 5.5rem; }

 /**
* Padding on x axis.
*/
.px-88 {
  padding-right: 5.5rem;
  padding-left: 5.5rem; }

 /**
* Padding on y axis.
*/
.py-88 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }

 /**
* Margin Top.
*/
.mt-96 {
  margin-top: 6rem; }

 /**
* Padding on x axis.
*/
.px-96 {
  padding-right: 6rem;
  padding-left: 6rem; }

 /**
* Padding on y axis.
*/
.py-96 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

 /**
* Margin Top.
*/
.mt-104 {
  margin-top: 6.5rem; }

 /**
* Padding on x axis.
*/
.px-104 {
  padding-right: 6.5rem;
  padding-left: 6.5rem; }

 /**
* Padding on y axis.
*/
.py-104 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }

 /**
* Margin Top.
*/
.mt-112 {
  margin-top: 7rem; }

 /**
* Padding on x axis.
*/
.px-112 {
  padding-right: 7rem;
  padding-left: 7rem; }

 /**
* Padding on y axis.
*/
.py-112 {
  padding-top: 7rem;
  padding-bottom: 7rem; }

 /**
* Margin Top.
*/
.mt-120 {
  margin-top: 7.5rem; }

 /**
* Padding on x axis.
*/
.px-120 {
  padding-right: 7.5rem;
  padding-left: 7.5rem; }

 /**
* Padding on y axis.
*/
.py-120 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }

@media (min-width: 768px) {
 /**
* Margin Top.
*/
  .mt-md-8 {
    margin-top: 0.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-8 {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }

 /**
* Margin Top.
*/
  .mt-md-16 {
    margin-top: 1rem; }

 /**
* Padding on x axis.
*/
  .px-md-16 {
    padding-right: 1rem;
    padding-left: 1rem; }

 /**
* Padding on y axis.
*/
  .py-md-16 {
    padding-top: 1rem;
    padding-bottom: 1rem; }

 /**
* Margin Top.
*/
  .mt-md-24 {
    margin-top: 1.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-24 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

 /**
* Margin Top.
*/
  .mt-md-32 {
    margin-top: 2rem; }

 /**
* Padding on x axis.
*/
  .px-md-32 {
    padding-right: 2rem;
    padding-left: 2rem; }

 /**
* Padding on y axis.
*/
  .py-md-32 {
    padding-top: 2rem;
    padding-bottom: 2rem; }

 /**
* Margin Top.
*/
  .mt-md-40 {
    margin-top: 2.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-40 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }

 /**
* Margin Top.
*/
  .mt-md-48 {
    margin-top: 3rem; }

 /**
* Padding on x axis.
*/
  .px-md-48 {
    padding-right: 3rem;
    padding-left: 3rem; }

 /**
* Padding on y axis.
*/
  .py-md-48 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

 /**
* Margin Top.
*/
  .mt-md-56 {
    margin-top: 3.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-56 {
    padding-right: 3.5rem;
    padding-left: 3.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-56 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; }

 /**
* Margin Top.
*/
  .mt-md-64 {
    margin-top: 4rem; }

 /**
* Padding on x axis.
*/
  .px-md-64 {
    padding-right: 4rem;
    padding-left: 4rem; }

 /**
* Padding on y axis.
*/
  .py-md-64 {
    padding-top: 4rem;
    padding-bottom: 4rem; }

 /**
* Margin Top.
*/
  .mt-md-72 {
    margin-top: 4.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-72 {
    padding-right: 4.5rem;
    padding-left: 4.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-72 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem; }

 /**
* Margin Top.
*/
  .mt-md-80 {
    margin-top: 5rem; }

 /**
* Padding on x axis.
*/
  .px-md-80 {
    padding-right: 5rem;
    padding-left: 5rem; }

 /**
* Padding on y axis.
*/
  .py-md-80 {
    padding-top: 5rem;
    padding-bottom: 5rem; }

 /**
* Margin Top.
*/
  .mt-md-88 {
    margin-top: 5.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-88 {
    padding-right: 5.5rem;
    padding-left: 5.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-88 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem; }

 /**
* Margin Top.
*/
  .mt-md-96 {
    margin-top: 6rem; }

 /**
* Padding on x axis.
*/
  .px-md-96 {
    padding-right: 6rem;
    padding-left: 6rem; }

 /**
* Padding on y axis.
*/
  .py-md-96 {
    padding-top: 6rem;
    padding-bottom: 6rem; }

 /**
* Margin Top.
*/
  .mt-md-104 {
    margin-top: 6.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-104 {
    padding-right: 6.5rem;
    padding-left: 6.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-104 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem; }

 /**
* Margin Top.
*/
  .mt-md-112 {
    margin-top: 7rem; }

 /**
* Padding on x axis.
*/
  .px-md-112 {
    padding-right: 7rem;
    padding-left: 7rem; }

 /**
* Padding on y axis.
*/
  .py-md-112 {
    padding-top: 7rem;
    padding-bottom: 7rem; }

 /**
* Margin Top.
*/
  .mt-md-120 {
    margin-top: 7.5rem; }

 /**
* Padding on x axis.
*/
  .px-md-120 {
    padding-right: 7.5rem;
    padding-left: 7.5rem; }

 /**
* Padding on y axis.
*/
  .py-md-120 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem; } }
@media (min-width: 992px) {
 /**
* Margin Top.
*/
  .mt-lg-8 {
    margin-top: 0.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-8 {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-16 {
    margin-top: 1rem; }

 /**
* Padding on x axis.
*/
  .px-lg-16 {
    padding-right: 1rem;
    padding-left: 1rem; }

 /**
* Padding on y axis.
*/
  .py-lg-16 {
    padding-top: 1rem;
    padding-bottom: 1rem; }

 /**
* Margin Top.
*/
  .mt-lg-24 {
    margin-top: 1.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-24 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-32 {
    margin-top: 2rem; }

 /**
* Padding on x axis.
*/
  .px-lg-32 {
    padding-right: 2rem;
    padding-left: 2rem; }

 /**
* Padding on y axis.
*/
  .py-lg-32 {
    padding-top: 2rem;
    padding-bottom: 2rem; }

 /**
* Margin Top.
*/
  .mt-lg-40 {
    margin-top: 2.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-40 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-48 {
    margin-top: 3rem; }

 /**
* Padding on x axis.
*/
  .px-lg-48 {
    padding-right: 3rem;
    padding-left: 3rem; }

 /**
* Padding on y axis.
*/
  .py-lg-48 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

 /**
* Margin Top.
*/
  .mt-lg-56 {
    margin-top: 3.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-56 {
    padding-right: 3.5rem;
    padding-left: 3.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-56 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-64 {
    margin-top: 4rem; }

 /**
* Padding on x axis.
*/
  .px-lg-64 {
    padding-right: 4rem;
    padding-left: 4rem; }

 /**
* Padding on y axis.
*/
  .py-lg-64 {
    padding-top: 4rem;
    padding-bottom: 4rem; }

 /**
* Margin Top.
*/
  .mt-lg-72 {
    margin-top: 4.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-72 {
    padding-right: 4.5rem;
    padding-left: 4.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-72 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-80 {
    margin-top: 5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-80 {
    padding-right: 5rem;
    padding-left: 5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-80 {
    padding-top: 5rem;
    padding-bottom: 5rem; }

 /**
* Margin Top.
*/
  .mt-lg-88 {
    margin-top: 5.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-88 {
    padding-right: 5.5rem;
    padding-left: 5.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-88 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-96 {
    margin-top: 6rem; }

 /**
* Padding on x axis.
*/
  .px-lg-96 {
    padding-right: 6rem;
    padding-left: 6rem; }

 /**
* Padding on y axis.
*/
  .py-lg-96 {
    padding-top: 6rem;
    padding-bottom: 6rem; }

 /**
* Margin Top.
*/
  .mt-lg-104 {
    margin-top: 6.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-104 {
    padding-right: 6.5rem;
    padding-left: 6.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-104 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem; }

 /**
* Margin Top.
*/
  .mt-lg-112 {
    margin-top: 7rem; }

 /**
* Padding on x axis.
*/
  .px-lg-112 {
    padding-right: 7rem;
    padding-left: 7rem; }

 /**
* Padding on y axis.
*/
  .py-lg-112 {
    padding-top: 7rem;
    padding-bottom: 7rem; }

 /**
* Margin Top.
*/
  .mt-lg-120 {
    margin-top: 7.5rem; }

 /**
* Padding on x axis.
*/
  .px-lg-120 {
    padding-right: 7.5rem;
    padding-left: 7.5rem; }

 /**
* Padding on y axis.
*/
  .py-lg-120 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem; } }
@media (min-width: 1200px) {
 /**
* Margin Top.
*/
  .mt-xl-8 {
    margin-top: 0.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-8 {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-16 {
    margin-top: 1rem; }

 /**
* Padding on x axis.
*/
  .px-xl-16 {
    padding-right: 1rem;
    padding-left: 1rem; }

 /**
* Padding on y axis.
*/
  .py-xl-16 {
    padding-top: 1rem;
    padding-bottom: 1rem; }

 /**
* Margin Top.
*/
  .mt-xl-24 {
    margin-top: 1.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-24 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-32 {
    margin-top: 2rem; }

 /**
* Padding on x axis.
*/
  .px-xl-32 {
    padding-right: 2rem;
    padding-left: 2rem; }

 /**
* Padding on y axis.
*/
  .py-xl-32 {
    padding-top: 2rem;
    padding-bottom: 2rem; }

 /**
* Margin Top.
*/
  .mt-xl-40 {
    margin-top: 2.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-40 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-48 {
    margin-top: 3rem; }

 /**
* Padding on x axis.
*/
  .px-xl-48 {
    padding-right: 3rem;
    padding-left: 3rem; }

 /**
* Padding on y axis.
*/
  .py-xl-48 {
    padding-top: 3rem;
    padding-bottom: 3rem; }

 /**
* Margin Top.
*/
  .mt-xl-56 {
    margin-top: 3.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-56 {
    padding-right: 3.5rem;
    padding-left: 3.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-56 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-64 {
    margin-top: 4rem; }

 /**
* Padding on x axis.
*/
  .px-xl-64 {
    padding-right: 4rem;
    padding-left: 4rem; }

 /**
* Padding on y axis.
*/
  .py-xl-64 {
    padding-top: 4rem;
    padding-bottom: 4rem; }

 /**
* Margin Top.
*/
  .mt-xl-72 {
    margin-top: 4.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-72 {
    padding-right: 4.5rem;
    padding-left: 4.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-72 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-80 {
    margin-top: 5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-80 {
    padding-right: 5rem;
    padding-left: 5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-80 {
    padding-top: 5rem;
    padding-bottom: 5rem; }

 /**
* Margin Top.
*/
  .mt-xl-88 {
    margin-top: 5.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-88 {
    padding-right: 5.5rem;
    padding-left: 5.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-88 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-96 {
    margin-top: 6rem; }

 /**
* Padding on x axis.
*/
  .px-xl-96 {
    padding-right: 6rem;
    padding-left: 6rem; }

 /**
* Padding on y axis.
*/
  .py-xl-96 {
    padding-top: 6rem;
    padding-bottom: 6rem; }

 /**
* Margin Top.
*/
  .mt-xl-104 {
    margin-top: 6.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-104 {
    padding-right: 6.5rem;
    padding-left: 6.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-104 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem; }

 /**
* Margin Top.
*/
  .mt-xl-112 {
    margin-top: 7rem; }

 /**
* Padding on x axis.
*/
  .px-xl-112 {
    padding-right: 7rem;
    padding-left: 7rem; }

 /**
* Padding on y axis.
*/
  .py-xl-112 {
    padding-top: 7rem;
    padding-bottom: 7rem; }

 /**
* Margin Top.
*/
  .mt-xl-120 {
    margin-top: 7.5rem; }

 /**
* Padding on x axis.
*/
  .px-xl-120 {
    padding-right: 7.5rem;
    padding-left: 7.5rem; }

 /**
* Padding on y axis.
*/
  .py-xl-120 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem; } }
/**
 * Buttons.
 */
.button {
  background: #85DBE0;
  border-radius: 2rem;
  color: #333745;
  padding: .5rem 1.5rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .button:hover {
    background: #275A5C;
    color: #ffffff; }
  .button.circle {
    padding: .5rem 1rem .5rem 2rem;
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .button.circle::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #333745;
      left: 1rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); }
    .button.circle:hover span {
      -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: inline-block;
      z-index: 1;
      color: #ffffff; }
    .button.circle:hover:before {
      left: 0;
      border-radius: 2rem;
      width: 100%;
      height: 100%; }

.icon-button {
  background: #85DBE0;
  border-radius: 50%;
  color: #333745;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  padding: 0.25rem; }
  .icon-button:hover {
    background: #275A5C;
    color: #ffffff; }

.wavy-bg {
  background: url(../img/general/mobile-wavy_background.png) center no-repeat;
  background-size: 100% auto; }

.blue-bg {
  background: #85DBE0; }

.lightblue-bg {
  background: #DAF4F6; }

@media (min-width: 768px) {
  .wavy-bg {
    background: url(../img/general/desktop-wavy_background.png) center no-repeat;
    background-size: 100% auto; } }
/**
 * Modules files.
 */
/**
 * Header.
 */
header a.logo {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../img/general/logo.png") no-repeat center center;
  background-size: cover;
  width: 7.5rem;
  height: 4rem;
  margin-top: 1rem; }

.flex-center, .outer-menu .hamburger, .outer-menu .hamburger > div, .outer-menu .menu, .outer-menu .menu > div, .outer-menu .menu > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.outer-menu {
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 2; }
  .outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 60px;
    height: 60px;
    opacity: 0; }
    .outer-menu .checkbox-toggle:checked + .hamburger span {
      height: 0; }
      .outer-menu .checkbox-toggle:checked + .hamburger span:after, .outer-menu .checkbox-toggle:checked + .hamburger span:before {
        top: 0px;
        left: 0;
        width: 34px; }
      .outer-menu .checkbox-toggle:checked + .hamburger span:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .outer-menu .checkbox-toggle:checked + .hamburger span:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
    .outer-menu .checkbox-toggle:checked ~ .menu {
      pointer-events: auto;
      visibility: visible; }
      .outer-menu .checkbox-toggle:checked ~ .menu > div {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition-duration: 0.75s;
                transition-duration: 0.75s; }
        .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
          opacity: 1;
          -webkit-transition: opacity 0.4s ease 0.4s;
          transition: opacity 0.4s ease 0.4s; }
    .outer-menu .checkbox-toggle:hover + .hamburger {
      -webkit-box-shadow: 0 0 10px rgba(51, 55, 69, 0.3);
              box-shadow: 0 0 10px rgba(51, 55, 69, 0.3); }
  .outer-menu .hamburger {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #85DBE0;
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center; }
    .outer-menu .hamburger > span {
      display: inline-block;
      position: relative;
      height: 2px;
      width: 34px;
      border-radius: 1px;
      background: #293335;
      vertical-align: middle; }
      .outer-menu .hamburger > span:before, .outer-menu .hamburger > span:after {
        display: inline-block;
        position: absolute;
        content: "";
        height: 2px;
        border-radius: 1px;
        background: #293335;
        -webkit-transition: all 200ms;
        transition: all 200ms; }
      .outer-menu .hamburger > span:before {
        top: -11px;
        left: 3px;
        width: 28px; }
      .outer-menu .hamburger > span:after {
        top: 11px;
        left: 6px;
        width: 22px; }
    .outer-menu .hamburger > div {
      position: relative;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 100%;
      height: 2px;
      background: #333745;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: inherit;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .outer-menu .hamburger > div:after {
        top: 10px; }
  .outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    outline: 1px solid transparent; }
    .outer-menu .menu > div {
      width: 200vw;
      height: 200vw;
      color: #ffffff;
      background: #85DBE0;
      border-radius: 50%;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      overflow: hidden; }
      .outer-menu .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
        overflow-y: auto;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none; }
        .outer-menu .menu > div > div > ul {
          list-style: none;
          padding: 0 1em;
          margin: 0;
          display: block;
          max-height: 100vh; }
          .outer-menu .menu > div > div > ul > li {
            padding: 0;
            margin: 1em;
            font-size: 24px;
            display: block; }
            .outer-menu .menu > div > div > ul > li > a {
              position: relative;
              display: inline;
              cursor: pointer;
              -webkit-transition: color 0.4s ease;
              transition: color 0.4s ease;
              color: #333745; }
              .outer-menu .menu > div > div > ul > li > a:hover {
                color: #275A5C; }
                .outer-menu .menu > div > div > ul > li > a:hover:after {
                  width: 100%; }
              .outer-menu .menu > div > div > ul > li > a:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: -0.15em;
                left: 0;
                width: 0;
                height: 2px;
                background: #275A5C;
                -webkit-transition: width 0.4s ease;
                transition: width 0.4s ease; }

.nav-link {
  display: inline-block;
  overflow: hidden;
  position: relative; }
  .nav-link span {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1); }
  .nav-link::before, .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0; }
  .nav-link::after {
    content: attr(data-replace);
    top: 0;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: translate3d(200%, 0, 0);
            transform: translate3d(200%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #275A5C; }
  .nav-link::before {
    background-color: #275A5C;
    height: 2px;
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .nav-link:hover span, .nav-link:focus span {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0); }
  .nav-link:hover::after, .nav-link:focus::after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .nav-link:hover::before, .nav-link:focus::before {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

@media (min-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .outer-menu .hamburger {
    display: none; } }
/**
 * Pop up.
 */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 95%;
    max-width: 1368px;
    height: 80%;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .popup-content .close-icon {
      position: fixed;
      background: #85DBE0;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      top: 1.5rem;
      right: 1.5rem; }
  .popup-image {
    width: 100%; }
  .popup-info {
    width: 100%;
    padding: 1rem; }

@media (min-width: 992px) {
  .popup-content {
    height: 40vw;
    overflow: scroll; }
  .popup-image {
    width: 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
    .popup-image img {
      display: block; }
  .popup-info {
    width: 70%;
    padding: 3rem; } }
@media (min-width: 1200px) {
  .popup-content {
    height: 37.5rem; } }
/**
 * Footer.
 */
footer {
  width: 100%;
  padding: 3rem 0 2.5rem 0;
  background: url("../img/general/m-footer-bg.jpg") center no-repeat;
  background-size: cover; }
  footer a.logo {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url("../img/general/logo.png") no-repeat center center;
    background-size: cover;
    width: 7.5rem;
    height: 4rem; }

@media (min-width: 576px) {
  footer {
    background: url("../img/general/footer-bg.jpg") center no-repeat; }
    footer a.logo {
      width: 15.375rem;
      height: 9.375rem; } }
@media (min-width: 1200px) {
  footer {
    padding: 4.5rem 0 6rem 0; } }
/**
 * Pages files.
 */
/**
 * Home page.
 */
.hero img {
  margin-top: -3rem; }

.about-home {
  background: url("../img/general/m-waves-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 12.5rem 0 3rem 0;
  margin-top: -10rem; }

.services-home {
  background: #DAF4F6;
  padding: 3rem 0 11.25rem 0; }

.slick-next:before, .slick-prev:before {
  color: #85DBE0; }

.contact-container {
  border-radius: 12px;
  -webkit-box-shadow: rgba(41, 132, 137, 0.2) 0 -5px 20px;
          box-shadow: rgba(41, 132, 137, 0.2) 0 -5px 20px;
  background: #ffffff;
  margin-top: -9.375rem;
  padding: 5.875rem 1.5rem 5rem 1.5rem;
  position: relative;
  overflow: hidden; }
  .contact-container:before {
    content: '';
    width: 6.25rem;
    height: 8.375rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/general/leaves_left-bg.png") center no-repeat;
    background-size: cover; }
  .contact-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../img/general/leaves_right-bg.png") center no-repeat;
    width: 7.8125rem;
    height: 9.0625rem;
    background-size: cover; }

.testimonials-slider .slick-prev, .testimonials-slider .slick-next {
  top: initial;
  bottom: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  z-index: 2; }
.testimonials-slider .slick-next {
  right: 0; }
.testimonials-slider .slick-prev {
  right: 3rem;
  left: initial; }

@media (min-width: 768px) {
  .hero img {
    margin-top: -7rem; }

  .about-home {
    background: url("../img/general/waves-bg.jpg") center no-repeat; }

  .contact-container {
    padding: 5.875rem 4.5rem 5rem 4.5rem; }
    .contact-container:before {
      width: 9.25rem;
      height: 12.5rem; }
    .contact-container:after {
      width: 10.75rem;
      height: 12.5rem; } }
@media (min-width: 992px) {
  .hero div.button-container {
    margin-top: -10rem; }

  .about-home {
    padding: 17.5rem 0 6rem 0; }

  .contact-container {
    margin-top: -6.25rem; } }
@media (min-width: 1200px) {
  .hero img {
    margin-top: -17rem; }
  .hero div.button-container {
    margin-top: -21.875rem; }

  .about-home {
    padding: 28.125rem 0 7.5rem 0; }

  .contact-container {
    padding: 5rem; } }
.word {
  position: relative; }

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: 1; }

.icon_white_circle {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  margin: auto; }
  .icon_white_circle img {
    width: 50%; }

.image_mask {
  width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.team-slider .slick-next {
  right: 1.5rem; }
.team-slider .slick-prev {
  left: 1.5rem; }

@media (min-width: 992px) {
  #about-text {
    overflow: scroll;
    height: 36vw;
    padding-bottom: 14rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

  .about-image {
    position: absolute;
    top: 15.625rem;
    left: 0; } }
@media (min-width: 1200px) {
  #about-text {
    padding-bottom: 20rem; }

  .about-image {
    top: 18.75rem; } }
@media (min-width: 1400px) {
  #about-text {
    padding-bottom: 25rem; } }
.services-slider .slick-slide {
  margin-right: 1rem; }
