/**
 * Base.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: $font-content;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}
