.button{
    background: $cyan;
    border-radius: 2rem;
    color: $black;
    padding: .5rem 1.5rem;
    transition: all .4s ease;
    &:hover{
        background: $teal;
        color: $white;
    }
}