/**
 * Fonts.
 */
.ff-serif {
  font-family: $font-serif;
  font-style: italic;
}
/**
 * Fonts Size.
 */
$font-sizes: (
  "4xl": 48,
  "3xl": 40,
  "2xl": 32,
  "xl": 28,
  "lg": 20,
  "md": 18,
  "sm": 14,
);

@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: toRem($value);
  }
}

$font-sizes-serif: (
  "xl": 70,
  "md": 45,
  "sm": 28,
);

@each $size, $value in $font-sizes-serif {
  .fs-serif-#{$size} {
    font-size: toRem($value);
  }
}

@media (min-width: $screen_md) {
  .fs {
    &-4xl {
      font-size: toRem(80);
    }
    &-3xl {
      font-size: toRem(56);
    }
    &-2xl {
      font-size: toRem(40);
    }
    &-xl {
      font-size: toRem(32);
    }
    &-lg {
      font-size: toRem(24);
    }
    &-md {
      font-size: toRem(20);
    }
    &-sm {
      font-size: toRem(16);
    }
    &-serif {
      &-xl {
        font-size: toRem(120);
      }
      &-md{
        font-size: toRem(70);
      }
      &-sm{
        font-size: toRem(40);
      }
      
    }
  }
}

@media (min-width: $screen_xl) {
  .fs {
    &-4xl {
      font-size: toRem(96);
    }
    &-3xl {
      font-size: toRem(64);
    }
    &-serif {
      &-xl {
        font-size: toRem(160);
      }
      &-md {
        font-size: toRem(80);
      }
      &-sm{
        font-size: toRem(40);
      }
    }
  }
}
/**
  * Text alignment.
  */

$text-align-values: (center, left, right);

@each $alignment in $text-align-values {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

/**
 * Fonts Weight.
 */

$font-weight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

@each $weight, $value in $font-weight {
  .fw-#{$weight} {
    font-weight: $value;
  }
}

/**
 * Text Colors.
 */
.text {
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-cyan {
    color: $cyan;
  }
  &-light-cyan {
    color: $light-cyan;
  }
  &-teal {
    color: $teal;
  }
  &-light-teal {
    color: $light-teal;
  }
  &-lavender {
    color: $lavender;
  }
  &-purple {
    color: $purple;
  }
  &-peach {
    color: $peach;
  }
}

/**
 * Line Height.
 */
.line {
  &-1 {
    line-height: 1;
  }
  &-2 {
    line-height: 1.5;
  }
  &-3 {
    line-height: 2;
  }
}
