/**
 * Mixins.
 */

  /**
  * To Rem Function.
  */

@function toRem($value) {
  $remValue: ($value / 16) + rem; 
  @return $remValue;
}

/*Screen sizes. */
$screen_sm: '576px';
$screen_md: '768px';
$screen_lg: '992px';
$screen_xl: '1200px';
$screen_2xl: '1400px';

@media (min-width: $screen_sm) {
}

@media (min-width: $screen_md) {
}

@media (min-width: $screen_lg) {
}

@media (min-width: $screen_xl) {
}

@media (min-width: $screen_2xl) {
}

/**
 * Flexbox.
 */
    
  @each $option in $justify-options {
    .justify-#{$option} {
      justify-content: $option
    }
  }

  
  @each $option in $align-items {
    .align-#{$option} {
      align-items: $option
    }
  }


 

 /**
 * Grid.
 */
 @mixin grid-container($columns: null) {
    display: grid;
    @if $columns {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
 /**
 * Grid Columns.
 */
@for $i from 1 through 12 {
  .grid-col-#{$i} {
    @include grid-container($i);
  }
}

/**
 * Grid Gap.
 */
@for $i from 1 through 6 {
  $value: $i * 8;
  .gap-#{$value} {
    gap: toRem($value);
  }
}


@media (min-width: $screen_sm) {
  @for $i from 1 through 12 {
    .grid-col-sm-#{$i} {
      @include grid-container($i);
    }
  }
  
  @for $i from 1 through 6 {
    $value: $i * 8;
    .gap-sm-#{$value} {
      gap: toRem($value);
    }
  }
}

@media (min-width: $screen_md) {
  @for $i from 1 through 12 {
    .grid-col-md-#{$i} {
      @include grid-container($i);
    }
  }
}

@media (min-width: $screen_lg) {
  @for $i from 1 through 12 {
    .grid-col-lg-#{$i} {
      @include grid-container($i);
    }
  }
  @for $i from 1 through 6 {
    $value: $i * 8;
    .gap-lg-#{$value} {
      gap: toRem($value);
    }
  }
}

@media (min-width: $screen_xl) {
  @for $i from 1 through 12 {
    .grid-col-xl-#{$i} {
      @include grid-container($i);
    }
  }
  @for $i from 1 through 6 {
    $value: $i * 8;
    .gap-xl-#{$value} {
      gap: toRem($value);
    }
  }
}

/**
 * Columns.
 */

@mixin column-width($col-span) {
  width: calc((100% / #{$column-count}) * #{$col-span});
}