/**
 * Utils.
 */
.uppercase {
  text-transform: uppercase;
}
.underline{
  &-black{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: $black;
      width: 100%;
      height: 1px;
    }
    text-decoration: underline;
    text-decoration-color: $black;
  }
  &-cyan{
    text-decoration: underline;
    text-decoration-color: $cyan;
  }
  &-light-cyan{
    text-decoration: underline;
    text-decoration-color: $light-cyan;
  }
  &-teal{
    text-decoration: underline;
    text-decoration-color: $teal;
  }
  &-light-teal{
    text-decoration: underline;
    text-decoration-color: $light-teal;
  }
  &-lavender{
    position: relative;
    display: inline-block;
  
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      background: $lavender;
      width: 100%;
      height: 1px;
    }
  }
  &-purple{
    text-decoration: underline;
    text-decoration-color: $purple;
  }
  &-peach{
    text-decoration: underline;
    text-decoration-color: $peach;
  }
}
/**
  * Display.
  */
  .d{
    &-desktop{
      visibility: hidden;
      display: none;
    }
    &-flex{
      display: flex;
      flex-wrap: wrap;
    }
    &-inline-flex{
      display: inline-flex;
      flex-wrap: wrap;
    }
  }
 
 /**
  * Text alignment.
  */

  $text-align-values: (
    center,
    left,
    right,
  );
  
  
  @each $alignment in $text-align-values {
    .text-#{$alignment} {
      text-align: $alignment;
    }
  }
  /**
  * Layout.
  */

.container{
  width: 95%;
  margin: auto;
}

/**
  * Columns.
  */
@for $i from 1 through $column-count {
  .col-#{$i} {
    @include column-width($i);
  }
}
@media (min-width: $screen_md) {
  /**
  * Columns.
  */
  @for $i from 1 through $column-count {
    .col-md-#{$i} {
      @include column-width($i);
    }
  }
}

@media (min-width: $screen_lg) {
  /**
  * Columns.
  */
  @for $i from 1 through $column-count {
    .col-lg-#{$i} {
      @include column-width($i);
    }
  }
/**
  * Display Desktop.
  */
  .d{
    &-desktop{
      visibility: visible;
    }
    &-lg{
      &-flex{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

@media (min-width: $screen_xl) {
  /**
  * Columns.
  */
  @for $i from 1 through $column-count {
    .col-xl-#{$i} {
      @include column-width($i);
    }
  }
}

@media (min-width: $screen_2xl) {
  /**
  * Layout.
  */
  .container{
    max-width: 1644px;
  }

  @for $i from 1 through $column-count {
    .col-2xl-#{$i} {
      @include column-width($i);
    }
  }

  .hide-2xl{
    display: none;
  }
}
