/**
 * Colors.
 */
$white: #ffffff;
$black: #333745;
$cyan: #85DBE0;
$light-cyan: #DAF4F6;
$teal: #275A5C;
$light-teal: #43959D;
$lavender: #C7ACD7;
$purple: #6A2875;
$peach: #DFC5AE;


/**
 * Hamburger icon.
 */
$hamburger-menu-size: 60px;
$hamburger-menu-border-radius: 0.12em;
$hamburger-menu-line-height: 2px;
$hover-line-height: $hamburger-menu-line-height;
$anim-duration: 0.4s;

/**
 * Flexbox.
 */
 $justify-options: (center, space-between, space-evenly, space-around);
 $align-items: (center, flex-end, flex-start, baseline);

 /**
 * Fonts.
 */
$font-serif: "freight-big-pro", serif;
$font-sans-serif: "Montserrat", sans-serif;

/**
 * Columns.
 */
$column-count: 12;
